body {
    font-weight: 400;
    line-height: 1.5;
    color: #212;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1,
  h3 {
    text-align: right;
  }

  ul {
      text-align: right;
      list-style: none;
      font-size: 20px;

  }

  .description {
      text-align: left;
  }
  
  .temperature {
    font-size: 80px;
    font-weight: 500;
  }

  .units {
    font-size: 25px;
  }
  
  .card {
    line-height: 1px;
    font-size: 20px;
    padding: 5px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    background-image: linear-gradient(to right, #72a9f0 0%, #0a73c4 100%);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  